body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f6f9;
}

h1 {
    color: #2c3e50;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
}